.menu--control {
  border: 0;
  padding: 0;
  font-family: space grotesk;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

#navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-bottom: #872341 1.2px solid;
  background: #ececec;

  /*   backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(9.5px); */

  color: black;
  font-family: "space grotesk", sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

#navbar.scrolled-down {
  height: 80px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
  border-bottom: #872341 3px solid;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em;

  list-style: none;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 600px) {
  #navbar {
    justify-content: space-between;
    padding: 0 0 0 24px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  font-size: 16px;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

#navbar.scrolled-down .navbar-title {
  scale: 1.25;
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 4px;
  display: flex;
  /* justify-content: space-between; */
  gap: 8px;
  flex-direction: column;
  align-items: center;
  /*  slide left menu color  */
  background: #e7e7e7;
  visibility: hidden;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }

  ul {
    display: flex;
    gap: 1.4rem;
  }
}

.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 3px;
}

.navbar-menu > button.active {
  color: inherit;
}

/* button action active */
.contr-action {
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;

  background: transparent;
  outline: none;
  border: #f05941 2px solid;
  border-radius: 4px;
  transition: 0.2s ease;
}

.contr-action:hover {
  background: #f05941;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .contr-action {
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    outline: none;

    border-radius: 4px;
    transition: 0.2s ease;
  }

  .contr-action:hover {
    background: #872341;
    color: #fff;
  }

  ul,
  li {
    padding: 3px;
    margin: 1em;
    width: 75%;
  }

  button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0.5em 3em;
    gap: 0.5em;
    background-color: none;
    border: 0.2px solid #cccccc;
    border-radius: 7.3px;
    align-items: center;
    font-size: 15px;
    font-family: "space grotesk";
  }
}

.controlUser {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.iconUserAcc {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0.5em 0.5em;
  gap: 0.5em;
  background-color: none;
  border: 0.2px solid #cccccc;
  border-radius: 7.3px;
  align-items: center;
  font-size: 15px;
  font-family: "space grotesk";
}

.iconUserAcc svg {
  width: 28px;
  height: 28px;
}

.danger {
  background-color: #ffeaea;
  border: 0.3px solid #ff2d2d;
}
